<!-- <mat-grid-list cols="2" gutterSize="2em">
  <mat-grid-tile *ngFor="let ccard of creditCards"> -->
<div class="card-grid">
  <form [formGroup]="creditCardForm" style="margin: 1em; box-sizing: border-box;" *ngFor="let ccard of creditCards">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="A name for the card..." formControlName="name" value="{{ccard.name}}">
          </mat-form-field>
          <!-- {{ccard.name}} -->
        </mat-card-title>
        <mat-card-subtitle>
          <!-- {{ccard.description}} -->
          <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput placeholder="A short description for the card..." formControlName="description" value="{{ccard.description}}">
          </mat-form-field>
        </mat-card-subtitle>
        <span style="flex:1"></span>
        <mat-icon style="align-self: center;" color="primary">mode_edit</mat-icon>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="flex-col">
        <mat-form-field>
          <mat-label>Issuer</mat-label>
          <input matInput placeholder="The name of the bank..." formControlName="issuingOrganization" value="{{ccard.issuingOrganization}}">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Commission Percentage</mat-label>
          <input matInput placeholder="0.05" formControlName="commissionPercentage" value="{{ccard.commissionPercentage}}">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Fixed Commission per transaction</mat-label>
          <span matPrefix>€&nbsp;</span>
          <input matInput placeholder="0.01" formControlName="commissionFixed" value="{{ccard.commissionFixed}}">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Type" formControlName="type">
            <mat-option *ngFor="let cardType of creditCardTypes " [value]="cardType.id">
              {{ cardType.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-card-actions style="display: flex; justify-content: space-evenly;">
          <button mat-fab color="primary">
            <mat-icon aria-label="Save">save</mat-icon>
          </button>
          <button mat-fab color="warn">
            <mat-icon aria-label="Cancel">cancel</mat-icon>
          </button>
        </mat-card-actions>
        <!-- <mat-list>
          <mat-list-item *ngFor="let category of categories$ | async ">{{category.categoryName}}</mat-list-item>
        </mat-list> -->



        <!-- <mat-table [dataSource]="tableDataSource ">
          <ng-container matColumnDef="id ">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let row ">{{ row.id }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="categoryName ">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let row ">{{ row.categoryName }}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
        </mat-table> -->

      </mat-card-content>
    </mat-card>
  </form>
</div>

<!-- </mat-grid-tile>
</mat-grid-list> -->
