<mat-card>
  <mat-card-title style="display: flex;">
    <span>Questions</span>
    <span style="flex: 1;"></span>
    <button mat-icon-button [routerLink]="['/question/add']">
      <!-- TODO: BAD ACCESSIBILITY, SHOULD BE ANCHOR -->
      <mat-icon>add_circle</mat-icon>
    </button>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list>
      <ng-container *ngFor="let question of questions">
        <mat-list-item>
          <span>{{question.questionText}}</span>
        </mat-list-item>
        <mat-list style="margin-left:30px;">
          <div *ngFor="let answer of question.answers">
            <mat-list-item>
              <span>{{answer.answerText}}</span>
            </mat-list-item>
          </div>
        </mat-list>
      </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>
