<app-navbar [sidenavReference]="snav"></app-navbar>
<div style="flex: auto; display: flex;">
  <mat-sidenav-container style="flex: 1;">
    <mat-sidenav #snav [mode]="'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="{{mobileQuery.matches ? 64 : 56}}"
      [opened]="mobileQuery.matches">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/cards']" (click)="mobileQuery.matches && snav.close()">
          <div>
            Dashboard
          </div>
        </a>
        <a mat-list-item [routerLink]="['/cards']" (click)="mobileQuery.matches && snav.close()">
          <div>
            Reports
          </div>
        </a>
        <a mat-list-item [routerLink]="['/cards']" (click)="mobileQuery.matches && snav.close()">
          <div>
            Cashiers
          </div>
        </a>
        <a mat-list-item [routerLink]="['/cards']" (click)="mobileQuery.matches && snav.close()">
          <div>
            Cards
          </div>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="display: flex;">
      <div class="sidenav" *ngIf="!mobileQuery.matches">
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/cards']" (click)="mobileQuery.matches && snav.close()">
            <mat-icon>
              home
            </mat-icon>
            <div [class.isHidden]="!isSideNavExpanded">
              &nbsp;&nbsp;Dashboard
            </div>
          </a>
          <a mat-list-item [routerLink]="['/cards']" (click)="mobileQuery.matches && snav.close()">
            <mat-icon>
              show_chart
            </mat-icon>
            <div [class.isHidden]="!isSideNavExpanded">
              &nbsp;&nbsp;Reports
            </div>
          </a>
          <a mat-list-item [routerLink]="['/cards']" (click)="mobileQuery.matches && snav.close()">
            <mat-icon>
              store
            </mat-icon>
            <div [class.isHidden]="!isSideNavExpanded">
              &nbsp;&nbsp;Cashiers
            </div>
          </a>
          <a mat-list-item [routerLink]="['/cards']" (click)="mobileQuery.matches && snav.close()">
            <mat-icon>
              credit_card
            </mat-icon>
            <div [class.isHidden]="!isSideNavExpanded">
              &nbsp;&nbsp;Cards
            </div>
          </a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <span style="flex: 1"></span>
        <button mat-icon-button (click)="isSideNavExpanded = !isSideNavExpanded">
          <mat-icon aria-label="Expand Sidenav">
            {{isSideNavExpanded? 'keyboard_arrow_left': 'keyboard_arrow_right'}}
          </mat-icon>
        </button>
      </div>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<app-footer></app-footer>
